*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
  
}

.header{
    display: flex;
    align-items: center;
    height: 70px;
    padding: 20px;
    justify-content: space-around;
    background-color: grey;
}

.logo{
    width: 40px;
    height: auto;
    cursor: pointer;
}

.links{
    display: flex;
}

.links, a{
    position: relative;
    font-size: 1.2rem;
    margin: 0 20px;
    color: white;
    text-decoration: none;
    transition: 0.3s linear;
}

.background{
    flex-direction: wrap;
    display: flex;
    flex-direction: column;
}

.content{
    justify-content: space-around;
    padding: 20px;
    margin: 0;
}

h1{
    font-size: 80px;
    margin: 10px 0 30px;
    line-height:  80px;
}

h3{
    font-size: 40px;
    margin: 10px 0 30px;
    line-height:  40px;
}

button{
    width: 100px;
    height: 100px;
    background-color: darkblue;
    color: black;
    border-radius: 200px;
}

button:hover{
    text-shadow: blue;
    background-color: transparent;
}